# Node.js
node_modules/
dist/
build/
controllers/
services/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Environment
.env

# SSL Certs
cert/*.pem

# Sistema Operacional
.DS_Store
Thumbs.db

# Editor (VSCode, JetBrains etc.)
.vscode/
.idea/

# Testes
coverage/
